@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding:0;
}
nav {
    margin-top:-25px;
    position: fixed;
    width: 100%;
    height:70px;
    box-sizing: border-box;
    background-color: RGBA(144,172,209);
}
.main {
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}
ul {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}
ul li {
    display: inline-block;
    line-height: 50px;
    padding: 10px 5px;
}
ul li a {
    padding: 10px 20px;
    border: 1px solid transparent;
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
ul li a:hover {
    background-color:white;
    color:black;
    transition: 0.6s ease;
    border-radius: 10px;
}
.logo img {
    max-width:100%;
    max-height:100%;
    height:60px;
}
.slide {
    width: 100%;
    height: 105vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/images/1.png');
    background-size: cover;
    background-position: center;
}
.slide p {
    width: 400px;
    height: 80px;
    text-align: center;
    padding-left:29%;
    padding-top:20%;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size:42px;
    letter-spacing: 2px;
}
.email_main {
    height:50px;
    width:700px;
    border:none;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
    padding-left: 10px;
    margin-left: 19%;
    font-family: 'Montserrat', sans-serif;

}
.email_btm {
    height:50px;
    background-color: chocolate;
    border:none;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    width:100px;
    margin-left: -10px;
}
.email_btm:hover {
    background-color:orange;
    color:white;
}
.sent-msg {
  height:100px;
  width:400px;
  color:whitesmoke;
  font-size:20px;
  margin-left:50%;
  margin-right: 50%;
  transform: translate(-50%,-50%);
  margin-top:30px;
}
  
  /*******************About Me***********************/
  .aboutme {
      max-height: 100%;
      max-width:100%;
      overflow:visible;
      margin-top: -27px;
      color:white;
      background-image: url(/images/wavy.jpg);
      height: 100vh;
      background-size: cover;
      background-position: center;
      font-family: 'Montserrat', sans-serif;
  }
  .aboutme h1 {
      max-height: 100%;
      max-width:100%;
      padding-top: 100px;
      font-size:40px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  .profile img{
      border-radius: 40%;
  }
  .profile_text{
      margin-top: -400px;
      margin-left: 400px;
      font-family: 'Titillium Web', sans-serif;
      padding-right: 25px;
      font-size: 22px;
      text-align: justify;
  }
  /**************WORK*******************/
  .container-header {
    background-image: url('/images/patterns.jpg');
    margin-top: -20px;
    padding-top:50px;
  }
  .container h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .container h1,p {
    text-align: center;
    margin-top: 20px;
  }
  .container h5 {
    text-align: center;
    margin-top: 30px;
    color:#636363;
    font-size:15px;
  }
  .container p {
    text-align: center;
    margin-top: 20px;
    text-align: justify;
    padding: 20px 20px;
  }
  .flex-box {
    display: flex;
    flex-wrap: nowrap;
    float:left;
    margin-right: 40px;
    margin-left:60px;
  }
  
  .box-area {
    overflow: hidden;
    text-align: center;
  }
  .box-area:hover {
    border-radius:8px;
    transition: all .4s ease-in-out;
    transform: scale(1.1,1.1);
    box-shadow: 5px 10px 18px#888888;
    background-image: url('/images/bg-hover.png'); /*GIF/PNG*/
    color:white; 
  }
  .flex-container {
    align-items: center;
    padding:30px 30px;
    }
  .flex-container >div {
    background-color: #fff;
    height:395px;
    width: 320px;
    margin: 10px;
    font-size: 30px;
    padding-top:30px;
  }
  .img-area img {
    border-radius:50%;
    border: 6px solid grey;
    text-align: center;
    height: 140px;
   }
   .img-area img:hover{
     border:6px solid white;
     position: none;
  
   }
   .header-text {
   font-size:20px;
   top:-30px;
   text-align: center;
   font-weight: 700;
   line-height: 75px;
   font-family: 'Kanit', sans-serif;
   }
   .text-area p {
     color:#636363;
     font-size:15px;
     text-align: justify;
     padding:30px 30px;
   }
   .readmore {
     font-size: 15px;
     letter-spacing: 1px;
     text-transform: uppercase;
     width:320px;
     height:30px;
     border:none;
     background-image: linear-gradient(to right top, #61b4ff, #52a6f3, #4398e7, #338adb, #207ccf);
     color:white;
     border-radius: 25px 25px 25px 25px;
   }
   .readmore:hover {
    background-image: linear-gradient(to right top, #61b4ff, #52a6f3, #4398e7, #338adb, #207ccf);
    color:white;
   }
   .view-all {
     margin-top:50px;
    background-color: #f7931e;
    margin-left:42%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-size: 17px;
    border: 0px;
    border-radius: 3px;
    padding: 11px 60px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    color:white;
    margin-bottom: 80px;
  }
  .view-all:hover {
    color:white;
    opacity:0.8;
  }

  /*************Contact Me******************/
  .contactme {
      margin-top:-25px;
      color:white;
      background-image: url(/images/wavy.jpg);
      height: 100vh;
      background-size: cover;
      background-position: center;
      font-family: 'Montserrat', sans-serif;
  }
  .contactme h1 {
      padding-top:60px;
      text-align: center;
      font-size: 35px;
      font-family: 'Montserrat', sans-serif;
  }

  .form {
      margin-left:20px;
  }
  .input-form {
      margin-top:30px;
      border-radius: 20px;
      width:600px;
      padding: 5px;
      margin-left:30%;
      background:transparent;
      border:none;
      outline:none;
      border-bottom: 1px solid gray;
      color:white;
      font-size:18px;
      margin-bottom: 16px;
      font-style:'Montserrat', sans-serif;
  }
  .input-form-submit {
    margin-top:30px;
    background: #F96C4E;
    border-color: transparent;
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-left:30%;
    width:600px;
    height:50px;
    border-radius: 10px;
  }
  .input-form-submit:hover {
      background-color: #F74E2A;
      color:black;
  }
  /***********FOOTER***************/
  .footer {
      background-image: url("/images/patterns.jpg");
      text-align: center;
      height:70vh;
  }
  .follow-me h1 {
      padding:55px;
      font-family: 'Bebas Neue', cursive;
  }
  .icons img {
      padding:10px;
      margin-top:-80px;
      transition: width 2s, height 2s, transform 1s;
  }
  .icons img:hover {
    transform: rotate(360deg);
  }
  .copyright h1 {
      font-size:20px;
      margin-top:-20px;
      font-family: 'Montserrat', sans-serif;
  }
  
  
  